* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gotham;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Gotham;
    src: url(Gotham-Font/GothamBook.ttf);
}

@font-face {
    font-family: Title;
    src: url(Gotham-Font/GothamBold.ttf);
}

body {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    min-height: 100vh;
    background: url(bg.jpg);
    backdrop-filter: blur(10px);
    background-repeat: fixed;
    background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    position: fixed;
}
.profile {
    width: 170px;
    border-radius: 50%;
}

.carousel {
    top: 0px;
    left: 0px;
    width: 100vw;
    position: absolute;
    z-index: -1;
}

.carousel-item img {
    width: 100vw;
    object-fit: cover;
    height: 100vh;
}

h2 {
    color: white;
    font-size: 30px;
    font-family: Title;
}
.tentang p {
    margin-top: 60px;
    padding: 10px;
    width: 950px;
    font-weight: bold;
    color: rgb(159, 3, 4);
    text-align: center;
    font-size: 25px;
}
.bungkus{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background: rgba(255, 255, 255, 0);
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }

  .footer img{
    width: 30px;
    margin-top: -1px;
    margin-left: 10px;
    padding: 1px 1px;
  }

.bg_video {
    position: absolute;
    height: auto;
    right: 0;
    bottom: 0;
    z-index: -1;

}

.navigation {
    position: fixed;
    /* background: rgba(255, 255, 255, 0.103);
    backdrop-filter: blur(30px); */
    border-radius: 40px;
    top: 10px;
    left: 0;
    width: 98%;
    padding: 30px 100px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: 15px;
    height: 110px;
    z-index: 99;
  }
  
  .navigation a:hover {
    color: rgb(0, 0, 0);
    transition: 0.3s;
  }
  
  .navigation a {
    position: relative;
    font-size: 1.6em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    left: 50px;
  }
  
  .navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    bottom: -6px;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 1px;
    transform: scaleX(0);
    transition: transform 0.2s;
  }

.nick-head{
    display: flex;
    width: 100%;
    background-color: black;
}

.nick-head p{
    color: white;
    margin-left: 10px;
    margin-top: 11px;
    font-size: 1.0em;
}

.nick-head img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 15px;
}

.sec h2{
    font-size:  4em;
    width: 100%;
    margin-right: 500px;
    margin-top: 700px;
}

.translate{
    color: white;
    width: 100%;
    top: 0;
    font-size: 1.5em;
}

.sec p{
  padding-top:  200px;
  color: white;
}
.m{
  color: white;
  width: 100%;
  margin-top: 1000px;
}
@media screen and (min-width: 768px) {
    .navigation a {display: none;}
    .navigation a.icon {
      float: right;
      display: block;
      
    }
  }

@media screen and (min-width: 768px) {
    img {
        width: 200px;
    }
    .navigation.responsive {
        position: relative;
    }
    
    .navigation.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navigation.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 900px) {
  .footer{
    font-size: 15px;
  }

  .sec{
    width: 70%;
    font-size: .9em;
    margin-top: 250px;
  }
  .sec p{
    margin-top: 170px;
    color: white;
    width: 350px;
    padding-right: 50px;
  }
}

header {
    position: fixed;
    top: 10px;
    left: -10;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;    
}

.navigation i{
    color: rgb(255, 255, 255);
}